<section class="bio">
  <h2 class="text-center heading">Let me introduce myself</h2>
  <div class="container">
    <div class="row">
      <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>
            Hey !, I'm Vineeth Adithya, Master’s student  at University of North Carolina in Computer Science.</p>
          <blockquote>I believe life becomes easy and work becomes fun when you start pursuing things that interest you.</blockquote>
          <p> I spend my whole day experimenting, I enjoy work that challenges me to learn something new and stretch in a different direction.
           I do my best to stay on top of changes in the world of creativeness.</p>
          <p>
            My former experiences in developing full stack web applications in all phases of Software development life cycle including Analysis, Design Development, Testing, Implementation and Documentation in JavaScript, JAVA/ J2EE, made me develop and delivering quality products using technologies as in Android, JSP, Java Servlets, HTML5, CSS, JavaScript, Typescript, JQuery, Angular 4, React.js, ExpressJs, Node.js, MongoDB, Bootstrap, REST API, Hibernate, JDBC, JavaScript, HTML, Bootstrap, TypeScript and other web development tools.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>