<section class="education">
  <h2 class="text-center heading">Education</h2>
  <div class="container">
    <div class="row">
      <div class="content">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="educations">
            <h3>{{ educationSection }}</h3>
            <h5>
              <a href="{{ educationLink }}" target="_blank">
                {{ education }}
              </a>
            </h5>
            <span>{{ educationDate }}</span>
            <p>{{ educationDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>